<header>
	<div id="headerLogo"><img id="logo" src="images/man-in-suit-and-tie.png" alt="cravate">
		<h1>Projet RH</h1>
	</div>
	
	<nav>
	<p id="welcome">Bienvenue {{enterprise.name}}</p>
		<ul>
			
			<li><a href="/logout">Log out</a></li>
			<li><a href="/addemployee">Ajouter un employé</a></li>
		</ul>
	</nav>
</header>